<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data_AdopcionWS.Properties.Settings.MyWSDB1ConnectionString"
            connectionString="Data Source=ALBERT;Initial Catalog=MyWSDB1;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Data_AdopcionWS.Properties.Settings.MyWSDBConnectionString"
            connectionString="Data Source=ALBERT;Initial Catalog=MyWSDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>