<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Adopcion_Data.Properties.Settings.AdopcionConnectionString"
            connectionString="Data Source=ALBERT;Initial Catalog=Adopcion;User ID=Proyecto;Password=Yeimi532;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>